ion-card-header {
    flex-direction: column;
}

.center-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
    color: var(--ion-color-medium);
    font-size: 1.1rem;
}
